{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true,
    "node": true
  },
  "ignorePatterns": [
    "dist/**/*",
    "node_modules/**/*"
  ],
  "extends": [
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "src/**/*.ts"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": [
          "./tsconfig.json"
        ]
      }
    }
  ]
}
