/* all  */
* {
    margin:0;
    padding:0; 
    font-family: 'Playpen Sans', cursive;
}
.header{
    /* min-height: 100vh; */
    /* width: 100%; */
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(neverland-img/banner.png); */
    /* background-position: center; */
    /* background-size: cover; */
    position: relative;
}
nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav img {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 12px 0 12px;
    text-align: center;
    position: relative;
}
.nav-links ul li a {
    color: #0b0909;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #11df97;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
#slider {
    width: 100%;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h4 {
    font-size: 40px;
    font-weight: 600;
}
.carousel-inner img{
    max-width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
#home-p {
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #a9a1a1;
    border-radius: 10px;
    padding: 12px 34px;
    margin-top: 12px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #11df97;
    background: #c2eedf;
    transition: 1s;
}
.sub-header h1{
    margin-top: 60px;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(neverland-img/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 200px 0;
    margin-top: 10px;

}
/* Courses */
.Courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col {
    flex-basis: 30%;
    background: #e9f7f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/* Coaches */
.Coaches {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.coaches-col{
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    position: relative;
    overflow:hidden;
}
.coaches-col img {
    width: 100%;
}
.coaches-col a {
    color: #043f27;
    text-decoration: none;
    font-size: 20px;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(244, 247, 218, 0.7) ;
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #090702;
    font-size: 26px;
    bottom: 0;
    transform: translate (-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 43%;
    opacity: 1;
}

/* Tournament */
.Tournament {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}
.tournament-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    position: relative;
}
.tournament-col img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.tournament-col p {
    padding: 0;
    text-align: left;
}
.tournament-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* Rating and Cmt */
.rating-cmt {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}
.rc-col{
    flex-basis: 45%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fbf9d3;
    padding: 25px;
    cursor: pointer;
    display: flex
}
.rc-col img {
    height: 60px;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 50%;
}
.rc-col p {
    padding: 0;
}
.rc-col h3 {
    margin-top: 15px;
    text-align: left;
}
.rc-col .fas {
    color: #f44336;
}

/* Enroll */
.Enroll {
    margin: 50px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(neverland-img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align:  center;
    padding: 80px 0;
}
.Enroll h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/* footer */
.footer{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 30px 0;
    z-index: 9999;
}
.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    
}


/* ABOUT US PAGE */

.aboutUs{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.aboutUs-Col {
    flex-basis: 48%;
    align-items: center;
    padding: 30px 7px;
}
.aboutUs-Col img {
    width: 80%;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
}
.aboutUs-Col img:hover{
    width: 85%;
    box-shadow: 0 0 20px 0px rgba(29, 18, 18, 0.2);
}
.aboutUs-Col h1 {
    padding-top: 0;
}
.aboutUs-Col p {
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #090702;
    background: transparent;
    color:#090702;
}

/* tournament-content */
.tournament-content {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-top: 10px;
}
.tournament-Col-left {
    flex-basis: 75%;
}
.tournament-Col-left img {
    width: 80%;
}
.tournament-Col-left h2{
    color: #222;
    font-weight: 600;
    font-size: 20px;
    padding: 0;
    text-align: center;
}
.tournament-Col-right {
    flex-basis: 35%;
}
.tournament-Col-right h3{
    background: #043f27;
    color: #fff;
    padding: 7px 0;
    font-size: 20px;
    margin-bottom: 20px;
}
.tournament-Col-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #131202;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3 {
    text-align: left;
}
.comment-form input {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button {
    margin: 10px 9;
}

/* contact us */
.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe {
    width: 100%;
}
.contact-us {
    width: 80%;
    margin: auto;
}
.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fas, .fab{
    font-size: 28px;
    color: #043f27;
    margin: 10px;
    margin-right: 30px;
}
.contact-col h5 a{
    list-style: none;
    text-decoration: none;
    color: #555;
}
.contact-col a:hover {
    color: #043f27;
    font-size: 23px;
    transition: 0.5s;
}
.contact-col div p {
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.contact-col button hero-btn green-btn {
    color: #555;
}
